<h2>New User</h2>

<form action="create_user">
  <input type="text" name="image_url" placeholder="image_url">
  <input type="text" name="user_name" placeholder="user_name">
  <input type="string" name="bio" placeholder="bio">
  <input type="submit">
  
</form>